<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Core" version="5.8.0" targetFramework="net461" />
  <package id="Catel.MVVM" version="5.8.0" targetFramework="net461" />
  <package id="Catel.Serialization.Json" version="5.8.0" targetFramework="net461" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net461" />
  <package id="Expression.Blend.Sdk.WPF" version="1.0.1" targetFramework="net461" />
  <package id="Ionic.Zip" version="1.9.1.8" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="Orc.Controls" version="3.1.0" targetFramework="net461" />
  <package id="Orc.FileSystem" version="3.0.0" targetFramework="net461" />
  <package id="Orc.SystemInfo" version="3.0.0" targetFramework="net461" />
  <package id="Orchestra.Core" version="5.1.4" targetFramework="net461" />
  <package id="Orchestra.Shell.Ribbon.Microsoft" version="5.1.4" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net461" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.Watcher" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Serialization.Xml" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net461" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net461" />
  <package id="System.Xml.XmlSerializer" version="4.3.0" targetFramework="net461" />
</packages>